/* Até monitores pequenos */
@media (max-width: 1200px) {
  .s-digital{
    padding-top: 6.8rem;
  }
  .s-digital ul{
    gap: 3.2rem;
    padding-bottom: 6.8rem;
  }
  .item-digital .info h6{
    font-size: 2rem;
  }
  .item-digital .info p{
    font-size: 1.6rem;
  }
  .s-art-front{
    padding: 6rem 0;
  }
  .s-art-front .all{
    gap: 1.6rem;
  }
  .s-art-front .all .card-post:first-child,
  .s-art-front .all .card-post:nth-child(2){
    grid-column: span 3;
  }
}
/* Até Tablet */
@media (max-width: 991px) {
  .s-hero::after{
    height: 13rem;
  }
  .s-digital ul{
    flex-direction: column;
    align-items: center;
  }
  .item-digital{
    text-align: center;
  }
  .item-digital .icon{
    margin: 0 auto;
    margin-bottom: 1.6rem;
  }
  .s-art-front .title-text{
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }
  .s-art-front .title-text .left {
    max-width: 100%;
    text-align: center;
  }
  .s-art-front .title-text .left p{
    max-width: 100%;
    text-align: center;
  }
  .s-art-front .title-text .right {
    max-width: 100%;
    text-align: center;
  }
  .s-art-front .title-text .right p{
    max-width: 100%;
    text-align: center;
  }
  .s-art-front .all{
    grid-template-columns: 1fr;
  }
  .s-art-front .all .card-post:first-child,
  .s-art-front .all .card-post:nth-child(2){
    grid-column: initial;
  }
  footer .main-area {
    flex-direction: column;
    gap: 4rem;
  }
  footer .main-area .left-foot{
    max-width: 100%;
    text-align: center;
  }
  footer .main-area .left-foot img{
    margin: 0 auto;
  }
  footer .main-area .right-foot{
    max-width: 100%;
    width:100%;
  }
}
/* De Tablet ao Celular */
@media (max-width: 768px) {
  header nav{
    display: none;
  }
  header .btn-mobile{
    display: block;
  }
  .s-hero{
    padding-top: 6rem;
  }
  .s-hero .text h1{
    max-width: 48rem;
    margin: 0 auto;
    font-size: 5.6rem;
  }
  .s-hero .text h1::before{
    left: 0;
    bottom: -4px;
    background-size: 100%;
  }
  .s-hero .text p{
    max-width: 42rem;
  }
  .s-hero .text .arrow{
    left: 2rem;
    bottom: 3.2rem;
    max-width: 80px;
  }
}
/* Até Celular */
@media (max-width: 560px) {
  header{
    height: 7.2rem;
  }
  header .logo{
    max-width: 16rem;
  }
  .s-hero{
    padding-top: 8.8rem;
  }
  .s-hero .text h1{
    font-size: 4rem;
  }
  .s-hero .text h1::before{
    bottom: -6px;
  }
  .s-hero .text p{
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
  }
  .s-hero .text .arrow{
    display: none;
  }
  .s-hero .illustra{
    display: none;
  }
  .s-hero .illustra-mobile{
    display: block;
  }
  .s-hero::after{
    height: 22rem;
    
  }
  .s-digital h3{
    font-size: 2.8rem;
  }
  .s-digital .info p{
    font-size: 1.8rem;
    max-width: 32rem;
  }
  .s-art-front .title-text h3 {
    font-size: 3rem;
  }
  .card-post{
    padding: 1.6rem;
  }
  .s-newslatter h2{
    font-size: 3.8rem;
  }
  footer .main-area{
    padding-bottom: 3.2rem;
  }
  footer .main-area .right-foot{
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }
  footer .main-area .right-foot .item-nav-foot h6{
    text-align: center;
  }
  footer .main-area .right-foot .item-nav-foot ul li a{
    justify-content: center;
  }
  footer .main-area .right-foot .item-nav-foot:last-child{
    width: 100%;
  }
  footer .main-area .right-foot .item-nav-foot:last-child ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .main-area .right-foot .item-nav-foot:last-child ul li:not(:last-child){
    margin-bottom: 0;
  }
  footer .copy{
    text-align: center;
  }
}